<!DOCTYPE html>
<html lang="en" ng-app="app" id="top">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title></title>

  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/<%%= bsversion %>/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/<%%= ngversion %>/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/<%%= ngversion %>/angular-touch.min.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/<%%= uibootstrap %>/ui-bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/<%%= uibootstrap %>/ui-bootstrap-tpls.min.js"></script>

  <script src="<%= libraryPrefix %>-tpls-<%%= pkg.version%>.min.js"></script>
  <script src="assets/app.js"></script>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic" type="text/css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/<%%= bsversion %>/css/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="assets/rainbow.css" type="text/css"/>
  <link rel="stylesheet" href="assets/demo.css" type="text/css"/>
</head>
<body class="ng-cloak">
<header class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-nav"
                ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#"><%= libraryName %></a>
      </div>
      <nav class="hidden-xs">
        <ul class="nav navbar-nav">
          <a href="#top" role="button" class="navbar-brand">
            <%= libraryName %>
          </a>

          <li><a href="#getting_started">Getting started</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Directives <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <%% demoModules.forEach(function(module) { %>
              <li><a href="#<%%= module.name %>"><%%= module.displayName %></a></li>
              <%% }); %>
            </ul>
          </li>
          <li><a href="#css">CSS</a></li>
        </ul>
      </nav>
      <nav class="visible-xs" id="mobile-nav" collapse="!isCollapsed">
        <ul class="nav navbar-nav">
          <li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
          <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="header-placeholder"></div>
<div role="main">
  <header class="bs-header text-center" id="overview">
    <div class="container">
      <h1><%= libraryName %></h1>

      <p>Version <%%= pkg.version%></p>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="bs-sidebar visible-xs" id="directives_small">
          <ul class="nav bs-sidenav">
            <li><a href="#"><strong>Directives</strong></a></li>
            <%% demoModules.forEach(function(module) { %>
            <li><a href="#<%%= module.name %>"><%%= module.displayName %></a></li>
            <%% }); %>
          </ul>
        </section>

        <section id="getting_started">
          <div class="page-header">
            <h1>Getting started</h1>
          </div>
          <h3>Dependencies</h3>
          <p>
            This repository contains a set of <strong>native AngularJS directives</strong> based on
            Bootstrap's markup and CSS. As a result no dependency on jQuery or Bootstrap's
            JavaScript is required. The <strong>only required dependencies</strong> are:
          </p>
          <ul>
            <li><a href="http://angularjs.org" target="_blank">AngularJS</a> (requires AngularJS 1.2.x, tested with
              1.2.16)
            </li>
            <li><a href="http://getbootstrap.com" target="_blank">Bootstrap CSS</a> (tested with version 3.1.1).
              This version of the library (0.12.0) works only with Bootstrap CSS in version 3.x.
              0.8.0 is the last version of this library that supports Bootstrap CSS in version 2.3.x.
            </li>
          </ul>

          <h3>Files to download</h3>

          <p>
            Build files for all directives are distributed in several flavours: minified for production usage,
            un-minified
            for development, with or without templates. All the options are described and can be
            <a href="https://<%= repoHost %>/<%= userName %>/<%= _.slugify(libraryName) %>/downloads">downloaded from here</a>.
          </p>

          <h3>Installation</h3>

          <pre><code>&lt;script src="js/<%= libraryPrefix %>-<%%= pkg.version %>.min.js"&gt;&lt;/script&gt;<br/>&lt;script src="js/<%= libraryPrefix %>-tpls-<%%= pkg.version%>.min.js"&gt;&lt;/script&gt;</code></pre>

          <p>As soon as you've got all the files downloaded and included in your page you just need to declare
            a dependency on the <code><%= libraryPrefix %></code> <a href="http://docs.angularjs.org/guide/module">module</a>:<br>

          <pre><code>angular.module('myModule', ['<strong><%= libraryPrefix %></strong>']);</code></pre>

          <h3>CSS</h3>

          <p>Original Bootstrap's CSS depends on empty <code>href</code> attributes to style cursors for several
            components (pagination, tabs etc.).
            But in AngularJS adding empty <code>href</code> attributes to link tags will cause unwanted route changes.
            This is why we need to remove empty <code>href</code> attributes from directive templates and as a result
            styling is not applied correctly. The remedy is simple, just add the following styling to your application:
          <pre><code>.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }</code></pre>
          </p>
          <h3>Issues</h3>

          <p>Please report any bugs/problems to <a href="https://<%= repoHost %>/<%= userName %>/<%= _.slugify(libraryName) %>/issues" target="_blank">our issue page</a>.</p>
        </section>

        <%% demoModules.forEach(function(module) { %>
        <section id="<%%= module.name %>">
          <div class="page-header">
            <h1><%%= module.displayName %>
              <small>
                (<%%= module.libraryPrefix %>.<%%= module.name %>)
              </small>
            </h1>
          </div>
          <div class="row">
            <div class="col-md-6 show-grid">
              <%%= module.docs.html %>
            </div>
            <div class="col-md-6">
              <%%= module.docs.md %>
            </div>
          </div>
          <hr>
          <div class="row code">
            <div class="col-md-12">
              <tabset>
                <tab heading="Markup">
                  <div plunker-content="markup">
                    <pre ng-non-bindable><code data-language="html"><%%- module.docs.html %></code></pre>
                  </div>
                </tab>
                <tab heading="JavaScript">
                  <div plunker-content="javascript">
                    <pre ng-non-bindable><code data-language="javascript"><%%- module.docs.js %></code></pre>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </section>
        <script><%%= module.docs.js %></script>
        <%% }); %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.main -->
<footer class="footer">
  <div class="container">
    <a href="https://<%= repoHost %>/<%= userName %>/<%= _.slugify(libraryName) %>"><img src="https://img.shields.io/badge/<%= repoHost %>-<%%= pkg.version%>-blue.svg?style=flat-square" alt=""/></a>
  </div>
</footer>
<script src="assets/rainbow.js"></script>
<script src="assets/rainbow-generic.js"></script>
<script src="assets/rainbow-javascript.js"></script>
<script src="assets/rainbow-html.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXX-C']);
  _gaq.push(['_trackPageview']);

  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="assets/smoothscroll-angular-custom.js"></script>
</body>
</html>
